@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@mixin manropeFont {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

@mixin formButton {
    height: 65px;
    width: 452px;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
}