@media (max-width: 1920px) {
    .block {
        &__container {
            margin: 0 auto;
            width: 1440px;
        }

        &__title {
            font-size: 26px;
        }

        &__image {
            img {
                object-fit: unset;
            }
        }
    }

    @media (max-width: 1440px) {
        .block {
            &__container {
                margin: 0 auto;
                width: 1120px;
            }

            &__description {
                width: unset;
            }

            &__wrapper {
                margin: 24px;
            }

            &__content {
                grid-template-columns: 1fr;
                grid-template-rows: 226px 360px;
            }

            &__description {
                height: 202px;
                width: unset;
                margin-left: 24px;
                justify-content: space-evenly;
            }

            &__title {
                font-size: 20px;
            }

            &__text {
                font-size: 15px;
            }

            &__button {
                font-size: 15px;
                height: 56px;
                width: 261px;

                .circle {
                    width: 36px;
                    height: 36px;
                    margin-left: 19px;
                }
            }
        }
    }

    @media (max-width: 1200px) {

        .block {
            &__container {
                margin: 0 auto;
                width: 960px;
            }
        }

    }

    @media (max-width: 992px) {

        .block {
            &__container {
                margin: 0 auto;
                width: 768px;
            }
        }
    }

    @media (max-width: 768px) {
        .block {
            &__container {
                margin: 0 auto;
                width: 560px;
            }

            &__content {
                grid-template-rows: 244px 220px;
            }

            &__description {
                height: 220px;
                margin-left: unset;
                justify-content: space-around;
                padding: 0 24px;
            }

            &__title {
                font-size: 17px;
            }

            &__text {
                font-size: 13px;
            }

            &__button {
                width: 279px;

                .circle {
                    margin-left: 37px;
                }
            }

            &__image {
                object-fit: unset;
            }
        }
    }

    @media (max-width: 576px) {
        .block {
            &__container {
                margin: 0 auto;
                width: 375px;
            }

            &__wrapper {
                margin: unset;
            }

            &__image {
                object-fit: cover;
            }
        }
    }
}